/* Title Text
font-family: 'Fascinate Inline', cursive; 
*/

/* Header and Question
font-family: 'Big Shoulders Text', sans-serif;
*/

/* Results and Plain Body Text
font-family: 'Roboto Mono', monospace; 
 */

/* NOT USED - font-family: 'Noto Sans JP', sans-serif; */

body {
    margin: 0 auto; 
    padding-top: 5%;
    padding-bottom: 5%; 
    text-align: center;
    font-family: 'Roboto Mono', monospace; 
    line-height: 20px;
}

.bodycontainer { 
    width: 70%; 
}

li {
    margin-bottom: 3px; 
}

button {
    font-family: 'Roboto Mono', monospace; 
    margin: 10px 0px;
    min-width: 25%; 
    max-width: 80%;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#timer {
    height: 75px;
    width: 25%; 
    padding: 10px;
    margin: 0 auto;
    background-color: red;
}

#subtitle-timer-text {
    margin: 0 auto;
}

#results {
    width: 80%; 
    margin: 0 auto;
    background-color: red; 
    padding: 10px 20px;
}

div {
    padding: 5px 0px 5px 0px;
}

/* Only for Game Title */
h1 {
    display: block;
    font-size: 2.25em;
    font-family: 'Fascinate Inline', cursive; 
    margin: 20px;
}

/* Only for Question Text */
h2 {
    font-size: 1.65em;
}

h2, h3, h4, h5, h6 {
    font-family: 'Big Shoulders Text', sans-serif;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .67em;
}

